* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.App {
  font-family: sans-serif;
  text-align: center;
}
h1 {
  border: 5px solid forestgreen;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}
.navbar {
  height: 10vh;
  width: 80%;
  padding: 50px;
  margin-left: 70px;
  background-color: whitesmoke;
}
.nav-group {
  align-items: center;
  justify-content: space-between;
}
.nav-item {
  text-transform: uppercase;
  color: forestgreen;
  font-size: 15px;
  font-weight: bolder;
  width: 15vw;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.nav-item:hover {
  border-left: 5px solid forestgreen;
  border-bottom: 6px solid forestgreen;
}
.card-box {
  float: left;
  /*align-items: center;
  justify-content: space-evenly;*/
}
.card {
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.52);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.52);
  background-color: whitesmoke;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 25px 15px;
  padding: 10px;
  width: 400px;
  height: 400px;
}
.card-num {
  text-align: left;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 4px;
  background: transparent;
  border: 2px solid #666;
  color: #666;
  text-align: center;
  font: 18px Arial, sans-serif;
}
.card-type {
  text-align: left;
  color: red;
  font-size: 12px;
  letter-spacing: 0.5px;
  margin: 10px 0 0;
  font-weight: bolder;
  text-transform: uppercase;
  /*display: block;*/
}
.card-title {
  text-align: left;
  color: blue;
  font-size: 20px;
  letter-spacing: 0.5px;
  margin: 10px 0 0;
  font-weight: bold;
  text-transform: capitalize;
}
.card-desc {
  text-align: left;
  margin: 10px 0 0;
  /*padding: 10px 0;*/
}
.card-media {
  /*width: 300;
  height: 200;*/
  display: block;
  margin: auto;
  /*margin-right: auto;*/
  width: 50%;
}
